<h2>Mission List</h2>

<div class="filter-area mat-elevation-z2">
  <mat-form-field appearance="fill" class="filter-input">
    <mat-label>Filter by Launch Year</mat-label>
    <input matInput [(ngModel)]="filterYear" (ngModelChange)="applyFilters()" />
  </mat-form-field>

  <div class="filter-group">
    <p>Launch</p>
    <mat-radio-group [(ngModel)]="launchStatus" (change)="applyFilters()">
      <mat-radio-button value="success">Successful</mat-radio-button>
      <mat-radio-button value="fail">Failed</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="filter-group">
    <p>Landing</p>
    <mat-radio-group [(ngModel)]="landStatus" (change)="applyFilters()">
      <mat-radio-button value="success">Successful</mat-radio-button>
      <mat-radio-button value="fail">Failed</mat-radio-button>
    </mat-radio-group>
  </div>

  <button mat-raised-button class="custom-button" (click)="resetFilters()">Reset Filters</button>
</div>

<div *ngFor="let mission of missions" class="mission-box mat-elevation-z3" (click)="goToDetails(mission.flight_number)">
  <img [src]="mission.links.mission_patch_small" alt="Patch" width="100" />
  <h3>{{ mission.mission_name }}</h3>
  <p><strong>{{ mission.launch_year }}</strong></p>
  <p>{{ mission.details }}</p>
</div>